<div class="card">
	<div class="card-header">
		<div class="fa fa-graduation-cap"></div>
		<%= link_to course.title, course_path(course) %>
	</div>
	<div class="card-body">
		<div class="fa fa-graduation-cap"></div>
		<%= course.short_description%>
	</div>

	<div class="card-footer">
		<div class="text-center">
			<%= number_to_currency(course.price) %>	
		</div>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-md-6">
				<div class="fa fa-globe-africa"></div>
		          <%= course.language %>
			</div>
			<div class="col-md-6">
				<div class="text-right">
					<div class="fa fa-signal"></div>
		              <%= course.level %>	
				</div>
		    </div>	
		</div>
		    
	</div>

	<div class="card-footer">
		<div class="far fa-clock"></div>
		<%= link_to course.created_at %>
		<div class="row">
			
		</div>
		<div class="fa fa-chalkboard-teacher"></div>
		<%= link_to course.user.email %>

	</div>
	<div class="card-footer">
		<td><%= link_to "Show", course, class: 'btn btn-primary' %></td>
		<td><%= link_to "Edit", edit_course_path(course), class: 'btn btn-warning' %></td>
		<td><%= link_to "Delete", course, method: :delete, data:{confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
	</div>
</div>